:root {
  --primary-color: #5dd461;
  --secondary-color: #2c2c2c;
  --success-color: #4caf50; /* Green */
  --info-color: #03a9f4; /* Light Blue */
  --warning-color: #ffc107; /* Amber */
  --danger-color: #f44336; /* Red */
  --light-color: #f5f5f5; /* Light Gray */
  --dark-color: #424242; /* Gray */
  --card-color: #202020; /* Darker color for card background */
  --card-offset-color: #2c2c2c82;
  --card-border-color: #0d0d0d; /* Darker color for card border */
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.05rem var(--primary-color), 0 0 0 0.05rem var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus {
  box-shadow: none !important;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  color: var(--primary-color) !important;
  transform: translateY(-1px);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #141414; /* Dark background color */
  color: #fff; /* White text color */
}
a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

table th tbody {
  color: #fff !important;
  border-radius: 6px;
  background-color: var(--card-color);
}

dialog {
  background-color: transparent;
  border: none;
}

/* add fade in animation to dialog */
dialog[open] {
  animation: fadeIn 0.3s;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-muted {
  font-size: 15px;
  color: #e6eee6 !important;
}

.nav-link {
  font-size: 15px !important;
  font-weight: 500;
}

.dropdown-menu {
  background-color: var(--card-color);
  border: 1px solid var(--card-border-color);
  color: #fff !important;
}

.dropdown-item {
  color: #fff !important;
}

.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
}

.card {
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--card-color); /* Darker color for card background */
  color: #fff; /* White color for card text */
  border: 1px solid var(--card-border-color); /* Darker color for card border */
}

.card-offset {
  border-radius: 5px;
  background-color: var(--card-offset-color);
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
  box-shadow: 0 1px 1px 0 var(--card-border-color);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  z-index: 0 !important;
}

.card-offset-hover:hover {
  background-color: var(--card-color);
  transition: background-color 0.3s;
}

.card-header {
  border-bottom: 1px solid var(--secondary-color);
}

.card-footer {
  background-color: var(--secondary-color);
  border-radius: 0 0 15px 15px;
}

.card-title {
  font-size: 1.25rem;
  color: #fff; /* White color for card title */
}

.card-text {
  font-size: 1rem;
  color: white;
}

.card-subtitle {
  font-size: 1rem;
  color: var(--primary-color);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn {
  border-radius: 5px;
}

.btn-primary {
  background-color: #4caf50;
  border-color: #4caf50;
  transition: all 0.3s ease-in-out;
}

.bg-dark {
  background-color: var(--secondary-color) !important;
}

.btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
  transform: scale(1.01);
}

.form-control {
  border-radius: 5px;
}

.form-control:focus {
  border-color: #4caf50;
  box-shadow: 0 0 0 0.05rem white, 0 0 0 0.1rem #4caf50;
}

.form-select {
  border-radius: 5px;
}

.form-select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 0 0.05rem white, 0 0 0 0.1rem #4caf50;
}

.form-check-input {
  border-radius: 5px;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.05rem white, 0 0 0 0.1rem #4caf50;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  margin: 10px auto;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #4caf50 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  filter: blur(50px);
  z-index: 1050;
}

.fadeIn {
  animation: fadeIn 0.3s;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.site-loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* HTML: <div class="loader"></div> */
.site-loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #5dd461 94%, #0000) top/8px 8px no-repeat, conic-gradient(#0000 30%, #5dd461);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #2c2c2c !important;
}

*::-webkit-scrollbar-track:hover {
  background-color: #2c2c2c;
}

*::-webkit-scrollbar-track:active {
  background-color: #2c2c2c;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #808080;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8a7a7;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #c1bfbf;
}
/* horizontal scroll */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #dfe9eb;
}
