code {
  background-color: #2c2c2c;
  color: #fff;
  padding: 2px 4px;
}

pre[class*="language-"] {
  background-color: #2c2c2c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
  overflow: auto;
  max-height: 90vh;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px !important;
}

#tinymce a {
  color: #5dd461 !important;
}

.language-markup {
  background-color: #2c2c2c !important;
  position: relative;
}

.language-markup::after {
  content: "Copy";
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #5dd46116;
  color: #fff;
  border-radius: 0 5px 0 5px;
  cursor: pointer;
}

.mce-content-body [contentEditable="false"][data-mce-selected] {
  outline: 1px solid #5dd461;
  cursor: pointer;
}
.mce-content-body {
  color: #fff !important;
  border-color: transparent !important;
  background: #202020 !important;
  outline: none !important;
  border-radius: 6px !important;
  border-color: transparent !important;
  outline: none !important;
}

.mce-content-body:focus {
  border-color: transparent !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: none !important;
}
.tox-menubar {
  background-color: var(--card-color) !important;
  color: #fff !important;
  padding: 0px !important;
}

.tox-editor-header {
  background: var(--card-color) !important;
  color: #fff !important;
}

.tox-tinymce {
  background: var(--card-color) !important;
  color: #fff !important;
  border-radius: 6px !important;
  border-color: transparent !important;
}

.tox-mbtn {
  background-color: var(--card-color) !important;
  color: #fff !important;
}

.tox-mbtn:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.tox-toolbar-overlord {
  background: var(--card-color) !important;
  box-shadow: none !important;
}

.tox-toolbar__primary {
  background: var(--card-color) !important;
  box-shadow: none !important;
}

.tox-tbtn {
  background-color: var(--card-color) !important;
  color: #fff !important;
}

.tox .tox-tbtn:hover svg {
  background-color: var(--secondary-color);
  border-radius: 6px;
}

.tox .tox-tbtn svg {
  display: block;
  fill: #fff;
}

.tox .tox-statusbar {
  background: var(--card-color) !important;
  /* border-top: 0.5px solid #212529d0 !important; */
}

.tox-statusbar__path-item {
  color: #fff !important;
}

.tox .tox-menu {
  background-color: var(--secondary-color) !important;
  /* border: 1px solid var(--card-border-color) !important; */
  color: #fff !important;
}

.tox .tox-collection__item {
  background: var(--secondary-color) !important;
  color: #fff !important;
}

.tox .tox-collection__item:hover {
  background: var(--card-color) !important;
  cursor: pointer !important;
}

.tox .tox-dialog {
  background-color: var(--card-color) !important;
  border: 1px solid var(--card-border-color) !important;
  color: #fff !important;
  border-radius: 6px !important;
}

.tox .tox-dialog__header {
  background-color: var(--card-color) !important;
  border-bottom: 1px solid var(--card-border-color) !important;
  color: #fff !important;
}

.tox-dialog__footer {
  background-color: var(--card-color) !important;
  color: #fff !important;
}

.tox .tox-dialog__body-content svg {
  fill: #fff;
}
.tox-statusbar__wordcount {
  color: #fff !important;
}

.tox-dialog-wrap__backdrop {
  background-color: rgba(0, 0, 0, 0.9) !important;
  filter: blur(50px);
  z-index: 1050;
}

.tox .tox-button {
  background-color: var(--card-color) !important;
  border-color: var(--primary-color);
  color: #fff !important;
}

.tox .tox-button--naked {
  border-color: transparent !important;
}

.tox .tox-textarea {
  background-color: var(--secondary-color) !important;
  border-color: transparent !important;
  color: #fff !important;
}

.tox .tox-listboxfield .tox-listbox--selected {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.tox .tox-textfield {
  background-color: var(--secondary-color) !important;
  border-color: transparent !important;
  color: #fff !important;
}

.tox-textfield:focus {
  border-color: var(--primary-color) !important;
  outline: none !important;
}

.tox .tox-listboxfield .tox-listbox--selected:focus {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.tox .tox-textarea:focus {
  border-color: var(--primary-color) !important;
  outline: none !important;
}

.tox-label {
  color: #fff !important;
}

.tox .tox-dialog__body-nav-item {
  color: #fff !important;
}

.tox-dialog__body-nav-item--active {
  border-bottom-color: var(--primary-color) !important;
}
.tox-dialog__table {
  color: #fff !important;
}

.tox .tox-statusbar__resize-handle svg {
  fill: #ffffffc0;
}

.tox-statusbar__resize-handle:hover svg {
  fill: #fff;
}

.ephox-snooker-resizer-bar {
  background-color: #5dd461 !important;
}

.mce-content-body table[data-mce-selected] {
  outline: 2px solid #5dd461 !important;
}

.tox .tox-pop__dialog {
  background-color: #2c2c2c !important;
  border: 1px solid #0d0d0d !important;
  box-shadow: none !important;
}

.tox-tooltip__body {
  background-color: black !important;
  color: #fff !important;
  font-weight: normal !important;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #2c2c2c !important;
}

*::-webkit-scrollbar-track:hover {
  background-color: #2c2c2c;
}

*::-webkit-scrollbar-track:active {
  background-color: #2c2c2c;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #808080;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8a7a7;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #c1bfbf;
}
/* horizontal scroll */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #dfe9eb;
}
