#file-viewer-content {
  height: 55vh;
  margin-top: 10px !important;
  color: #fff !important;
  border-color: transparent !important;
  background-color: #343a40 !important;
}

#file-viewer-reference {
  color: #fff !important;
  border-color: transparent !important;
  background-color: #343a40 !important;
}

.file-view {
  min-height: calc(100vh - 150px) !important;
  max-height: calc(100vh - 150px) !important;
  overflow: auto;
}

.folder-view {
  min-height: calc(100vh - 150px) !important;
  max-height: calc(100vh - 150px) !important;
  overflow: auto;
}

.vault-folder-list {
  overflow-y: auto;
  background: #212529d0;
}

.vault-root-folder {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #343a4024;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
  border: 1px solid transparent;
  box-shadow: 0 8px 8px 0 #212529;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.vault-root-folder:hover {
  background-color: #343a40;
  transition: background-color 0.3s;
}

.vault-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #212529;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
  border: 1px solid #343a40;
}

.vault-item:hover {
  background-color: #343a40;
  transition: background-color 0.3s;
}
