
@{
    ViewData["Title"] = "Vault";
    var PermissionTabs = new List<string> { "Permissions", "View", "Edit", "Delete" };
}
<link rel="stylesheet" href="~/css/vault.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tiny.css" asp-append-version="true" />
<div class="container mt-4">
@* <div class="spinner-border text-primary position-fixed" id="vault-spinner" role="status" style=" z-index: 999999; display: none; top: 45%; left: 50%; height: 3rem; width: 3rem;">
    <span class="visually-hidden">Loading...</span>
</div> *@
    <div class="row">
        <div class="col-lg-3">
            <!-- Left Sidebar for Folders -->
            <div class="card folder-view">
                <div class="d-flex justify-content-between align-items-center p-3">
                    <h5 class="card-title">Folders</h5>
                    <button type="button" class="btn btn-primary btn-sm bg-dark text-white" id="addRootFolder">
                        <i class="bi bi-folder-plus"></i> Add Folder
                    </button>
                </div>
                <input type="search" id="root-folder-search" class="bg-dark mb-1 text-white form-control border-0 folder-search" placeholder="Search Root Folders" style="max-height: 33px; align-self: center; width: 90%;">
                <div class="vault-folder-list p-3">
                    @foreach (var folder in Model)
                    {
                    <div id="root-folder-@folder.Id" class="vault-root-folder card-offset card-offset-hover" data-folder-id="@folder.Id">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>📁@folder.Reference</span>
                            <img class="folder-sliderdown" id="root-slider-@folder.Id"
                            src="https://www.svgrepo.com/show/80156/down-arrow.svg" style="width: 10px; height: 20px;" />
                         </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <!-- Middle Content for Files -->
            <div class="card file-view">
                <!-- Tabs -->
                <ul class="nav vault-tabs">
                    <span class="nav-link vault-tab active " id="tab-link-0">Files</span>
                    <li class="nav-item cursor-pointer " 
                    id="tab-add-item">
                        <button class=" bg-transparent text-white border-0 ml-5 btn btn-sm display-5 outline-none" id="tab-link-add-item" data-bs-toggle="tooltip" data-bs-placement="top" title="New Tab">
                            +
                        </button>
                    </li>
                </ul>
                <!-- Tab Content -->
                <div class=" d-flex justify-content-between align-items-center p-3">
                    <div id="file-path">Files</div>
                    <div id=folder-actions class="d-flex flex-row" style="display:none">
                        <input type="text" id="vault-item-search" class="ml-3 mr-3 bg-dark  mb-1 text-white form-control border-0" placeholder="Search..." style="max-height: 33px; max-width: 250px; margin-right: 20px;">
                        <div class="dropdown">
                            <button id="vault-add-item" class="btn btn-primary btn-sm bg-dark text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-file-earmark-plus"></i> Add Item
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="vault-add-item">
                                <li><button id="add-default-item" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit your content as a secure note">Default Item</button></li>
                                <li><button id="add-sub-folder" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Add a subfolder to the current folder">Subfolder</button></li>
                                <li><a class="dropdown-item" href="#">Requestable Item</a></li>
                                <li><a class="dropdown-item" href="#">Api Item</a></li>
                                <li><a class="dropdown-item" href="#">Attachment Only</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="px-3" id="vault-file-list-container">
                    <div id="vault-file-list-0"></div>
                    <div id="file-viewer" class="file-viewer" style="display:none">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row w-100">
                                <input type="text" id="file-viewer-reference" class="form-control border-0 bg-transparent" placeholder="File Name" style="color: white;" maxlength="100" />
                                <div class="d-flex flex-row item-actions">
                                    <span id="permissions-btn" class="btn text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Permissions">P</span>
                                </div>
                            </div>
                        </div>
                        <textarea id="file-viewer-content"  placeholder=""></textarea>
                        <div id="item-permissions" style="display:none" class="mt-4 mx-3">
                            @* <div class="d-flex justify-content-between align-items-center">
                                <span></span>
                                <button id="close-permissions" class="btn btn-primary btn-sm bg-dark text-white">X</button>
                            </div> *@
                            <div class="tab-content " style="margin-top: 25px;">
                                <div class="tab-pane show active" id="vault-permissions" role="tabpanel" aria-labelledby="view-tab">
                                <div id="user-item-actions" class="p-3  card-offset">
                                        <p class="h5 mb-3">Actions</p>
                                        <div class="d-flex justify-content-between">
                                            <button id="delete-item" class="btn btn-primary btn-sm bg-dark text-white h-fit" style="max-height: 32px;"> Delete Item </button>
                                        </div>
                                    </div>
                                    <div class="p-3 card-offset mt-5">
                                        <p id="permissions-title" class="h5 mb-3">Default Restrictions</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <label for="IsViewRestricted" class="form-label">Is View Restricted</label>
                                                <input type="checkbox" class="form-check-input" id="IsViewRestricted" name="IsViewRestricted" />
                                                <p class="text-muted">Do you want to restrict the users who are able to view this item?</p>
                                            </div>
                                            <div style="padding-left: 30px;">
                                                <label for="IsEditRestricted" class="form-label">Is Edit Restricted</label>
                                                <input type="checkbox" class="form-check-input" id="IsEditRestricted" name="IsEditRestricted" />
                                                <p class="text-muted">Do you want to restrict the users who are able to edit this item?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="user-permissions" class="p-3 mt-5 card-offset">
                                        <p class="h5 mb-3">User Permissions</p>
                                        <div class="d-flex justify-content-between">
                                            <input type="text" id="user-permissions-search-input" class="mr-3 bg-dark mt-1 mb-1 text-white border-0 form-control" placeholder="Find Users" style="max-height: 32px; max-width: 250px;">
                                            <button id="user-permissions-add-user" class="btn btn-primary btn-sm bg-dark text-white h-fit" style="max-height: 32px;"> Add User </button>
                                        </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="user-permissions-table-body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {   
     <script>
        const VaultSpinner = $("#vault-spinner");
        VaultSpinner.css("display", "block");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <script>CheckAuth();</script>

    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/tinymce/js/tinymce/themes/silver/theme.min.js"></script>   
    <script src="~/js/vault/vaultTiny.js" asp-append-version="true"></script>    
    <script src="~/js/vault/vaultShared.js" asp-append-version="true"></script>
    <script src="~/js/vault/vaultItem.js" asp-append-version="true"></script>
    <script src="~/js/vault/vaultFilePath.js" asp-append-version="true"></script>
    <script src="~/js/vault/vaultFolder.js" asp-append-version="true"></script>
    <script src="~/js/vault/vaultFileTree.js" asp-append-version="true"></script>
    <script src="~/js/vault/vaultActions.js" asp-append-version="true"></script>
    <script type="text/javascript">
        setTimeout(() => {
            VaultSpinner.css("display", "none");
        }, 0);
        InitialiseTooltips();
    </script>       
    <script src="~/js/vault/vaultitemPermissionUtils.js" asp-append-version="true"></script>
    <script src="~/js/vault/vaultItemPermissions.js" asp-append-version="true"></script>
    <script src="~/js/userModal.js" asp-append-version="true"></script>
}
