@model CipherDrop.Models.UserLogin

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="display-5 text-center mb-4">Login</h1>
                    <p class="lead text-center">Use your credentials to log in.</p>
                    <form asp-controller="Login" asp-action="Index" method="post">
                            <div class="mb-3">
                                <label for="Input_Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Input_Email" name="Email" required maxlength="255" value="@Model.Email">
                                <span asp-validation-for="Email" class="text-danger"></span> 
                            </div>
                            <div class="mb-3">
                                <label for="Input_Password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="Input_Password" name="Password" required minlength="8" maxlength="100" value="@Model.Password">
                                <span asp-validation-for="Password" class="text-danger"></span> 
                            </div>
                             <div class="mb-3">
                                <label for="Input_Token" class="form-label">Key</label>
                                <input type="password" class="form-control" id="Input_Token" name="Token" required minlength="8" maxlength="100" value="@Model.Token">
                            </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Log in</button>
                        </div>
                    </form>

                    <div class="mt-3 text-center text-muted">
                        <a  href="/Register" class="text-decoration-none">Don't have an account? Register here.</a>
                    </div>

                    <div asp-validation-summary="All" class="text-danger mt-3"></div> <!-- Display all model errors -->
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
    const isRefresh = '@TempData["Refresh"]';
    if(isRefresh === "true") {
        sessionStorage.clear();
        localStorage.removeItem("email");
        localStorage.removeItem("name");
        localStorage.removeItem("role");
    }
    </script>
}

