@{
    ViewData["Title"] = "Expired or Invalid Link";
}
<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p class="lead ">
        The link you have used is either expired or invalid.
    </p>
    <p>
        Please contact the sender for a new link.
    </p>
</div>  
