@{
    ViewData["Title"] = "Admin Options not set";
}
<div class="container mt-5">
    <h1 class="mt-3">@ViewData["Title"]</h1>
    <p>The admin must set up the application before you can access this page.</p>
</div>

